*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    width: 100%;
    height: 70px;
    /* border: 2px solid black; */
     display: flex;
     /* justify-content: space-evenly; */
     align-items: center;
     background-color: #DEAA79;
     gap:410px;
     /* position: relative; */
     top: 0;
     z-index: -1;
     /* margin-top: 50px; */
     
    
}

#navbar nav ul{
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
   gap: 20px;
   
}
#navbar img{
    width: 6%;
    height: 60px;
border-radius: 30px;
}
#navbar nav ul li a{
    text-decoration: none;
    color: black;
    font-size: large;
    position: relative;
}

#navbar nav ul li a:visited{
    color: black;
}
#navbar nav ul li a:hover{
    color: white;
    text-decoration: underline;
}
#navbar nav ul li a:active{
color: green;
}
#navbar .cart{
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
#section1 p{

    padding-top: 100px;
    padding-left: 100px;
font-size: 50px;
}
#section1{
    /* border: 2px solid black; */
   width: 100%;
   height: 75vh;
    background-color: #DEAA79;
}
.room{
    padding-left: 200px;
}
#section1 div img{
    width: 800px;

}
#section1 div h5{
margin-left: 100px;
margin-top: 40px;
font-size: 15px;
}
.button{
    margin-left: 100px;
    margin-top: 20px;
    width: 120px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    background-color: #FF7F3E;
    border: 2px solid blue;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.button::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #FF7F3E ;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    z-index: -1;
}
.button:hover{
    color: white;
    background-color: white;
}
.button1{
    margin-top: 20px;
    margin-left: 5px;
    width: 120px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    background-color: #FF7F3E;
    border: 2px solid blue;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden ;
}
.button1:hover::after{
    transform: translateY(100%);
}
.button1::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FF7F3E;
    top: 0;
    left: 0;
    border-radius: 0px;
    z-index: -1;
    transform: translateY(50%);
    transition: .2s all ease;

}
.button1:hover::before{
    transform: translateY(-100%);
}
.button1::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #FF7F3E ;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0px;
    z-index: -1;
    transform: translateY(-50%);
    transition: .2s all ease;

}
.button1:hover{
    color: black;
    background-color: white;
}
.couch{
    display: flex;
    
}

.button1 a{
    text-decoration: none;
    color: black;
font-weight: bold;
}
#section2{
    /* border: 2px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
        background-color: aliceblue;

}
#section2 div{
    width: 20%;
    height: 80%;
    /* border: 1px solid black; */
}
.explore{
    font-weight: bold;
    color: black;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid black;
    /* background-color: black ; */
     width: 120px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    overflow: hidden;

}
.explore:hover::after{
    transform: translateX(50%);
}
.explore::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FF7F3E;
    top: 0;
    left: 0;
    border-radius: 0px;
    z-index: -1;
    transform: translateX(100%);
    transition: .2s all ease;

}
.explore:hover::before{
    transform: translateX(-50%);
}

.explore::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FF7F3E;
    top: 0;
    left: 0;
    border-radius: 0px;
    z-index: -1;
    transform: translateX(-100%);
    transition: .2s all ease;

}

.explore:hover{
    color: white;
    background-color: white;
}
.product{
    width: 90%;
    height: 75%;
    
}
#products{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#products1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#prody{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#section3{
    width: 100%;
    height: 700px;
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
        background-color: aliceblue;

}
.box1{
    /* border: 2px solid black; */
    width: 45%;
    height: 600px;
    
}
.box2{
    /* border: 2px solid black; */
    width: 40%;
    height: 600px;
}
.box1 p{
    font-size: xx-large;
    font-weight:lighter;
}
.script1{
    font-family:'Courier New', Courier, monospace;
    font-size: 35px;
}
.box3{
    /* border: 1px solid black; */
    width: 49%;
    height: 400px;
    
}
.box4{
    /* border: 1px solid black; */
     width: 49%;
    height: 400px;
}
.box5{
    width: 100%;
    height: 450px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.icon i{
    font-size: 2rem;
}
.whyus{
    width: 100%;
    height: 600px;
    border-radius: 35px;

}

#section4{
    width: 100%;
    height: 110vh;
    /* border: 2px solid black; */
    display: flex;
    /* margin-top: 50px; */
    background-color: aliceblue;
}
.one {
    width: 60%;
    height: 70%;
  border-radius: 30px;
  position: absolute;
  margin-left: 20px;
  z-index: 1;
}
.text{
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
}
.images{
    width: 50%;
    height: 100%;
     /* border: 1px solid black; */
     /* margin-left: 60px; */
     position: relative;
}
.two {
    width: 55%;
    height: 55%;
  border-radius: 30px;
  position: absolute;
  z-index: 2;
  top: 350px;
  left: 325px;
}
.three {
    width: 32%;
    height: 40%;
  border-radius: 30px;
  position: absolute;
  left: 500px;

}
.text h1{
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 400;
    font-size: xx-large;
}
.text p{
    margin-left: 20px;
    margin-top: 20px;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: larger;
}
#text{
    display: flex;
    margin-left: 30px;
    margin-top: 40px; 
    font-weight: 500;
    font-size: large;
}
.second{
    margin-left: 40px;
}
.explore1{
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: black ;
     width: 120px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
}
#section5{
  height: 300px;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  /* margin-bottom: 30px; */
  align-items: center;
  background-image: url(./Images/img-grid-1.jpg);
}
.first{
    height: 80%;
    width: 30%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}   
.seat{
    width:35% ;
    height: 80%;
    /* border: 1px solid black; */
}
.readmore{
    width: 60%;
    height: 80%;
    /* border: 1px solid black; */
}
.seat img{
    width:100% ;
    height: 100%;
}
.readmore a{
    
    text-decoration: none;
       color: #090040;
}
.readmore a :hover{
    color: white;
    background-color: black;
}
 #section6{
    height: 85vh;
    width: 100%;
    /* border: 2px solid black; */
        background-color: aliceblue;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

 } 
.heading{
    height: 70px;
    width: 70%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading h3{
    font-size: xx-large;
    font-weight: 500;
}
.bottom{
    height: 60vh;
    width: 70%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.heading a{
    cursor: pointer;
    
}
.heading a:visited{
text-decoration: underline;
}
.heading a:hover{
    text-decoration: underline;
}
.post{
    height: 55vh;
    width: 32%;
    /* border: 2px solid black; */
}
.post img{
    height: 50%;
    width: 100%;
    border-radius: 30px;
}
.post a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}
.post span{
    margin-left: 10px;
}
.post h3{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#sofa{
    /* border: 2px solid black; */
    width: 100%;
    height: 700px;
 /* position: relative; */
}
.image1{
    position: relative;
    top: -150px;
    float: right;
    z-index: 1;
    margin-right:400px ;
   
}

.image1 img{
width: 350px;
height: 350px;
position: absolute;
}
#check {
    display: none; 
}
 #Bar{
    display: none;
    z-index: -1000;
 }
 .form{
    height: 100px;
    width: 600px;
    border: 2px solid black;
    margin-left: 150px;
    margin-top: 100px;
    /* display: flex; */

 }
 .form h3{
    font-size: 25px;
    font-weight: 500;
 }
 .boxes{
    display: flex;
    /* justify-content: space-evenly; */
   
 }
 .krishna{
     flex: 0 0 auto;
    width: auto;
    height: 40px;
 }
 



@media(max-width:400px){

#navbar nav ul{
    display: none;
}
#navbar .cart{
    display: none;
}
#navbar img{
    height: 50px;
    margin-left: 5px;
}
#section1 p{

    padding-top: 10px;
    padding-left: 10px;
font-size: 25px;
}
#section1 div h5{
margin-left: 10px;
margin-top: 10px;
font-size: 10px;
}
.button{
    margin-left: 10px;
    margin-top: 10px;
    width: 100px;
    height: 20px;
    font-size: 15px;
     font-weight: 500; 
    border-radius: 20px;
    background-color: #FF7F3E;
    border: 2px solid blue;
    cursor: pointer;
    position: relative;
    z-index: 1; 
}  
#section1 div img {
    width: 250px;
}

.room{
    padding-left: 0;
}
.button1{
    margin-top: 10px;
    margin-left: 10px;
    width: 100px;
    height: 20px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 20px;
    /* background: linear-gradient ( red rgb(218, 153, 153)); */
    border: 2px solid blue;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden ;
}
#section2 div h1{
    font-size: 20px;
}
.explore{
    /* font-weight: bold; */
    color: black;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid black;
    /* background-color: black ; */
     width: 100px;
    height: 20px;
    font-size: 15px;
}
.box1{
    /* height: 300px; */
    
}
.box1 p{
    font-size: 25px;
}
.icon i{
    font-size: 16px;
}
.box5{
    /* height: 250px; */
}
.script1{
    font-size: 20px;
}
#section4{

}
.one{
    top: 100px;
    height: 50%;
    margin-left: 5px;
}
.two{
    left: 80px;
    height: 40%;
}
.text h1{
    margin-left: 10px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 30px;
}
.text p{
    margin-left: 10px;
    margin-top: 5px;
    font-size: 15px;
}
#text{
    display: flex;
    margin-left: 10px;
    margin-top: 10px; 
    font-weight: 500;
    font-size: 15px;
}
.second{
    margin-left: 40px;
}
.explore1{
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: black ;
     width: 100px;
    height: 20px;
    border-radius: 20px;
    font-size: 15px;
}
.three{
    display: none;
}
.seat{
    height: 60%;
}
.readmore h3{
    font-size: 15px;
}
.bottom{
    width: 85%
}

.image1{
    position: relative;
    top: -50px;
    right: 0px;
    z-index: 1;
    
}
.image1 img{
    height: 150px;
    width: 150px;
    position: absolute;
    margin-left: 230px; 
}
#Bar{
    display: flex;
    z-index: 2000;
position:absolute ;
top: 20px;
right: 10px;



}

.navlist{
    display: flex;
    /* display: none; */
    top: 60px;
    right: 0;
    width: 100%;
    padding: 10px;
    z-index: 1000;
    border-radius: 10px;
    flex-direction: column;
}
#check:checked~#navbar nav ul{
display: block;
position: absolute;
/* top: 1; */
/* right: 100%; */
/* left: 100px; */
z-index: 20;
background-color:white ;
justify-content: center;
text-align: center;
line-height: 30px;

}

}