
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    width: 100%;
    height: 70px;
    /* border: 2px solid black; */
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     background-color: #DEAA79;
     gap: 200px;
    
}


#navbar nav ul{
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
   gap: 20px;
   
}
#navbar img{
    width: 6%;
    height: 60px;
border-radius: 30px;
}
#navbar nav ul li a{
    text-decoration: none;
    color: black;
    font-size: large;
}
#navbar .cart{
    width: 10%;
    display: flex;
    justify-content: space-evenly;
}
#section1 p{

    padding-top: 100px;
    padding-left: 100px;
font-size: 50px;
}

#section1 div{
    /* border: 2px solid black; */
   width: 100%;
   height: 75vh;
    background-color: #DEAA79;
}
#section1 div h5{
margin-left: 100px;
margin-top: 40px;
font-size: larger;
}
.button{
    margin-left: 100px;
    margin-top: 20px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF7F3E;
}
.button1{
    margin-top: 20px;
    margin-left: 5px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: #DEAA79;

}
.couch{
    display: flex;
    
}
.button a{
    text-decoration: none;
    color: black;
font-weight: bold;
}
.button1 a{
    text-decoration: none;
    color: black;
font-weight: bold;
}
#section2{
    border: 2px solid black;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#section2 div{
    width: 20%;
    height: 80%;
    /* border: 1px solid black; */
}
.explore{
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: black ;
     width: 120px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
}
.product{
    width: 90%;
    height: 75%;
    
}
#products{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#products1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#prody{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#section3{
    width: 100%;
    height: 700px;
    border: 3px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box1{
    border: 2px solid black;
    width: 45%;
    height: 600px;
    
}
.box2{
    border: 2px solid black;
    width: 40%;
    height: 600px;
}
.box1 p{
    font-size: xx-large;
    font-weight:lighter;
}
.script1{
    font-family:'Courier New', Courier, monospace;
}
.box3{
    border: 1px solid black;
    width: 49%;
    height: 400px;
    
}
.box4{
    border: 1px solid black;
     width: 49%;
    height: 400px;
}
.box5{
    width: 100%;
    height: 450px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
/* .box3 i{
 size: 10px;    
} */